<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    {{! Styles }}
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/layout_desktop.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    {{ghost_head}}
</head>
<body>
    {{{body}}}
    {{ghost_foot}} <p class="footer_center"><a href="http://www.gummipunkt.eu">by gummi:punkt, cc zero 2014</a></p>
</body>    
</html>