{{!< default}}
<link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" />
<div id="post-start"> 
<span class="doubleline"><p>:: {{meta_title}} {{#post}} :: {{#foreach tags}} {{name}} {{/foreach}} :: <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> ::</p></span>
</div>
<div id="main-index">
<p class="post-back"><a href="javascript:history.back()" onMouseOver="{window.status='Zur端ck'; return true;}">
Zur端ck</a></p>
<p class="post-complete">{{content}}</p>   
<p class="post-back"><a href="javascript:history.back()" onMouseOver="{window.status='Zur端ck'; return true;}">
Zur端ck</a></p>   
<hr>
     <p class="social-post">:: SHARE ON :: <a href="https://twitter.com/share?url={{url absolute="true"}}">Tweet</a> :: <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">Facebook</a> :: <a href="https://plus.google.com/share?url={{url absolute="true"}}"> Google+</a> ::</p>
    <hr>
    <p class="post-back">{{author.name}} - Feedback? Send me a <a href="mailto:{{author.email}}">mail</a></p>
    <p class="post-back">{{author.bio}}</p>
    
    
{{/post}}
</div>